@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  background-image: 
    linear-gradient(rgba(128, 128, 128, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(128, 128, 128, 0.1) 1px, transparent 1px);
  background-size: 10px 10px;
}

.cursor {
  z-index: 999;
  background: var(--foreground);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  pointer-events: none;
  animation: colors 5s infinite;
}


.cursor:before {
  content: '';
  position: absolute;
  transform: translate(-30%, -30%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.2;
}

.latitudes {
  position: absolute;
  width: 1px;
  height: 50px;
  color: var(--foreground);
  background-size: 10px 10px;
}
